:root {
  --color1: #dabfff;
  --color2: #907ad6;
  --color3: #4f518c;
  --color4: #2c2a4a;
  --color5: #aed2ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}

/*/////////////////////////*/
body {
  height: 100%;
  /* min-height: 70rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color5);
  background: linear-gradient(#64e8de, #aa88ff);
}
header {
  background-color: var(--color3);
  color: white;
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  /* background-color: rgb(207, 237, 100); */
  padding: 3rem 0;
  min-height: 100vh;
}
.contenedor {
  width: 90%;
  max-width: 120rem;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contenedor h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem auto;
}

/* GUARDAR NOTA ///////////////////////*/
#seccion-escribir {
  display: none;
}

.nota-nueva {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  /* display: none; */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: -5px -5px 10px 5px rgba(0, 0, 0, 0.081) inset;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nota-nueva form {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.nota-nueva textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
  /* max-height: 5rem; */
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  background-color: var(--color1);

  box-shadow: -2px -2px 10px 5px rgba(0, 0, 0, 0.081);
  backdrop-filter: blur(5000px);
}
.contenedor-contador {
  /* background-color: rgb(243, 171, 231); */
  padding: 1rem 0;
}
.nota-nueva button:disabled {
  /* background-color: rgba(255, 255, 255, 0); */
  color: black;
  border: 0.05rem solid rgb(53, 53, 53);
  border-radius: 0.2rem;

  background-color: rgba(182, 182, 182, 0.377);
  border-radius: 100px;
  border: 0.5px solid rgb(255, 255, 255);
}
.nota-nueva button:disabled:hover {
  background-color: rgba(182, 182, 182, 0.377);
}
.nota-nueva .contenedor-botones {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nota-nueva .contenedor-botones button {
  width: 48%;
}
/* LISTA DE NOTAS //////////////////////////*/
.contenedor-tareas {
  background-color: var(--color2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 40rem;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contenedor-tareas article {
  /* background-color: pink; */
  background-color: var(--color1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
  min-width: 20rem;
  border-radius: 10px;
  box-shadow: -2px -2px 10px 5px rgba(0, 0, 0, 0.081);

  backdrop-filter: blur(5000px);
}

.contenedor-tareas article button {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  align-self: flex-start;
  margin-left: 1rem;
  /* border-radius: 100%; */
  border: 0.01rem solid black;
  background-color: var(--color4);
  color: white;
  border-radius: 100%;
  border: none;
}
.contenedor-tareas article button:hover {
  background-color: #4f518c;
}
.contenedor-tareas-main {
  /* background-color: fuchsia; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  background-color: var(--color3);
  color: white;
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  position: relative;
  bottom: 0;
}
/* EXTRAS ////////// */
.boton-nueva-nota,
#boton-salir,
#boton-guardar {
  height: 4rem;
}

.contenedor-botones button,
.boton-nueva-nota {
  background-color: rgb(248, 218, 255);
  border-radius: 100px;
  border: none;

  box-shadow: -2px -2px 10px 5px rgb(139, 191, 210);
  backdrop-filter: blur(5000px);
}
.contenedor-botones button:hover,
.boton-nueva-nota:hover {
  background-color: rgb(224, 100, 255);
  transition: 0.3s;
}
