.contenedor {
  max-width: 700px;
}

.contenedor-tareas {
  flex-direction: row;
  flex-wrap: wrap;
}
.contenedor-tareas article {
  max-width: 49.1%;
  flex: 1;
}
.nota-nueva .contenedor-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contenedor-botones button {
  max-width: 200px;
}
