body {
  /* background-color: blue; */
}
/* .contenedor {
  margin: auto;
  display: flex;
} */
.contenedor {
  max-width: 700px;
}

.contenedor-tareas-main {
  flex-direction: row;
  flex-wrap: wrap;
  /* flex: 1 1; */
}
.contenedor-tareas-main article {
  max-width: 49.1%;
  flex: 1;
  /* width: calc(50% -0.5rem); */
}
.nota-nueva .contenedor-botones {
  /* background-color: blue; */
  /* width: 50%; */
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contenedor-botones button {
  max-width: 200px;
}
